doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.container
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="index.pug") Home
        li.nav-item
          a.nav-link(href="view.pug") View
        li.nav-item
          a.nav-link(href="update.pug") Update
        li.nav-item
          a.nav-link(href="delete.pug") Delete

    div.container
      block content
