extends layout

block content
  h2= title
  form(action="/form", method="post")
    label Number:  
    select(name="numbox")
      for number in numbers
        option(value="#{num}")= number

    input(type="submit", value="Submit")
      
  +generateTable(number)
  
    