extends layout

block content
  h2= title
  form(action="/form", method="post")
    label(for="numbers") Number:  
    select(name="numbers")
      //each number in numbers
      option(value="3") 3
      option(value="4") 4
      option(value="5") 5
      option(value="10") 10
      option(value="20") 20

    input(type="submit" value="Submit")

    if errors 
      ul
        for error in errors
          li!= error.msg
        
    
