extends layout

block content
  h2= title
  form(action="/form", method="post")
    label(for="numbers") Number:  
    select(name="numbers")
      for number in numbers
        option(value="#{number}") #{number}

    input(type="submit")
        
    
