mixin generateTable(number)
  -const color = ((1<<24)*Math.random(number)|0).toString(16)
  table(border="1")
    tbody
      each number in numbers
        tr
        each number in numbers
          td(style="background-color: #{color};")= color
            br
              span(style="color=fff;")= color
