body {
  background-color: whitesmoke;
  font-family:  'Fira Code', Monaco, 'Courier New', monospace;
  font-size: 14px;
  padding: 50px;
}

nav {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: Helvetica, sans-serif;
}

label {
  font-weight: bold;
}

input.form-control {
  background-color: lightgoldenrodyellow;
}

select.form-control {
  background-color: lightgoldenrodyellow;
}

a {
  color: #00B7FF;
}
