//- extends layout

//- block content
//-     h1= title
//-     form(action="/results", method="post")
//-         input(type="text", name="name")
//-         input(type="email", name="email")
//-         label Comments:
//-         textarea(name="comments", cols="30", rows="10")
//-         input(type="submit")

extends layout

block content
  h1= title
  p
    a(href="./") Index
  h2=message
  form.form-horizontal(action="/form", method="post", role="form")
        .form-group
          label.control-label(for="name") Author         
            input#name.form-control(name="author")        
        input(type="submit" value="Submit")