doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") HOME &nbsp;&nbsp;&nbsp;
    a(href="/about") ABOUT &nbsp;&nbsp;&nbsp;
    a(href="/form") FORM
    block content
